<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
		id="com.flexblast.cordova.plugin.assetslib"
    	version="0.2.0">
    <name>AssetsLib</name>
    <description>Cordova plugin for accessing assets from iOS ALAssetsLibrary</description>
    <license>MIT</license>
    <author>glowmar</author>
    <keywords>cordova,phonegap,assets,assetslib,ALAssetsLibrary,thumbnails</keywords>

    <js-module src="www/assetslib.js" name="AssetsLib">
        <clobbers target="window.navigator.assetslib" />
    </js-module>
    
    <!-- ios -->
    <platform name="ios">    
        <config-file target="config.xml" parent="/*">
            <feature name="AssetsLib">
                <param name="ios-package" value="AssetsLib" /> 
            </feature>
        </config-file>
        <header-file src="src/ios/AssetsLib.h" />
        <source-file src="src/ios/AssetsLib.m" />
        <framework src="AssetsLibrary.framework"/>
        <framework src="CoreLocation.framework"/>
    </platform> 
</plugin>

